html {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/Code_presentation_background.png);
    background-size: cover;
}

body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    background-color: rgb(235 235 235);
    padding: 2px;
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin: 2px;
    
}

.top {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(58, 57, 57);
    margin-bottom: 10px;

}

#logo, 
p {
    margin: 0px;

}

.note {
    margin: 5px 2px;
    padding: 2px;
    background-color: white;
    border-bottom: 2px solid #20333b;
    box-shadow: -1px 2px 3px #a48989;

}

.note-title {
    text-align: left;
    padding: 1px;
    margin: 0px;
    color: white;
    background-color: #205e9dc4
}

.note-summary {
    font-size: 1.5rem;
    background-color: white;
    margin: 0px;
}

.code-box {
    background-color: #f1f1f1;
}

code {
    display: block;
    font-family: Consolas,"courier new";
    font-size: 1.5rem;
    color: crimson;
    background-color: #f1f1f1;
    margin: 2px;
    padding: 2px;
  }

  .target-code {
      font-weight: bolder;
      color: #bb1919;
  }